.navbar {
  background: white;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.d1{
  display: flex;
  align-items: center;
  gap: 10px;  
}
.logo {
  color: #ee6e26;
  margin: 0;
  font-size: 28px;
}
.nav-links {
  display: flex;
  gap: 15px;
}

.nav-link {
  padding: 10px 18px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  color: black;
}

.nav-link:hover {
  background: #ee6e26;
  color: white;
}